modules = ["python-3.12", "nodejs-20", "web"]
[agent]
expertMode = true
integrations = ["python_openai:1.0.0"]

[nix]
channel = "stable-25_05"
packages = ["libxcrypt"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Frontend"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Backend API"

[[workflows.workflow]]
name = "Frontend"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd frontend && npm run dev"
waitForPort = 5000

[[workflows.workflow]]
name = "Backend API"
author = "agent"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python server.py"
waitForPort = 8000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 8000
externalPort = 8000

[[ports]]
localPort = 36271
externalPort = 4200

[[ports]]
localPort = 38661
externalPort = 5000

[[ports]]
localPort = 39453
externalPort = 3002

[[ports]]
localPort = 43147
externalPort = 3001

[[ports]]
localPort = 43693
externalPort = 3000

[[ports]]
localPort = 45155
externalPort = 3003

[deployment]
deploymentTarget = "autoscale"
run = ["cd", "frontend", "&&", "npm", "run", "start"]
build = ["cd", "frontend", "&&", "npm", "run", "build"]
